*.bak
*.suo
*.zip
*.csproj.user
.idea
bin
obj
coverage
fonts
node_modules
packages
reports
*/build/templates.js
*/build/tests/
host/tests/reports
npm-debug.log
deploy/coms/
dist/deploy
.DS_Store
logging/log.txt
host.api.authorize.log
bower_components
dist/adp.ds.host.combined.js
app
*.tmp